//背景色彩
$bg-color           : #fff;
//大標題色彩
$caption-color      : #595959;
//副標題色彩
$subCaption-color   : #ffb8d2;
//文字色彩
$txt-color          :#5e2b2b;

//主色色彩
$allblack           :#111;
$grey               : #F5F5F7;
$fff                : #ffffff;
$navbar-color       :#E03859;
$shop-btn-color     :#bd3d3d;
//輔色色彩
$quote-color        :#ab986b;
$footer-color       :#b5a68a;
$btn-hover-bgColor  :#e3afaf;
//強調色

// ======== 陰影 ==========
//標題文字陰影
$caption-text-shadow: #5e2b2b;
$btn-box-shadow:#bd3d3d