// 區塊margin大小
$section : 20px 0;
// 圓角設定
$border-radius: 20px;
$input-border-radius: 0px;
$img-radius: 20px;

// 斷點寬度設定
$s-breakpoint: 375px;
$m-breakpoint: 768px;
$l-breakpoint: 1280px;

// 圖標大小設定
$i-font-size : 25px;